@import "tailwindcss";
/* Navigation Arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #ea580c; /* orange-600 */
}

/* Hover effect for arrows */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #c2410c; /* darker orange */
}

/* Pagination Dots */
.swiper-pagination-bullet {
  background: #d1d5db; /* gray-300 */
  opacity: 1;
}

/* Active Dot */
.swiper-pagination-bullet-active {
  background: #ea580c; /* orange-600 */
}
